<%- include("inc/header"); %>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">server title</div>
		<div class="panel-body">
			Info
		</div>
	</div>
</div>
<%- include("inc/footer"); %>